body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage {
 
  background-color: orange;
  height: 400px;
  width: auto;
}

.introduction {
  align-items: center;
  vertical-align: middle;
  margin-top: 200px;

}

.introduction p, .introduction h2, .introduction button {
  margin-top: 40px;
}


.introduction button {
  padding: 10px;
  font-size: larger;
  border-color: white;
  border-width: 1px;
  color: white;
  font-weight: lighter;
  background-color: grey;
}

.introduction button:hover {
  color: black;
  background-color: white;
}
.details {
  display: flex;
  margin-left: 50%;
  border-bottom-style: groove;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-top-color:transparent;
  border-top-style: groove;
  border-top-width: 1px;
}

.details h4, .details h5 {
  border-right-style: groove;
  border-right-color: black;
  border-right-width: 1px;
  margin-right:20px;
  padding-right: 20px;
}
.details h6{
  color: blue;
  font-weight: lighter;
  font-size: large;
}