body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage {
 
  background-color: orange;
  height: 400px;
  width: auto;
}

.introduction {
  align-items: center;
  vertical-align: middle;
  margin-top: 200px;

}

.introduction p, .introduction h2, .introduction button, .about-us button, .about-us p {
  margin-top: 40px;
}

.about-us h1 {
  font-weight: lighter;
  font-size: 800;
  color: white;
}

.about-us p {
  color: white;
}


.introduction button, .about-us button {
  padding: 10px;
  font-size: larger;
  border-color: white;
  border-width: 1px;
  color: white;
  font-weight: lighter;
  background-color: grey;
}

.introduction button:hover {
  color: black;
  background-color: white;
}

.about-us button:hover {
  color: black;
  background-color: white;
  font-weight: lighter;
}


.details {
  display: flex;
  margin-left: 50%;
  border-bottom-style: groove;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-top-color:transparent;
  border-top-style: groove;
  border-top-width: 1px;
}

.details h4, .details h5 {
  border-right-style: groove;
  border-right-color: black;
  border-right-width: 1px;
  margin-right:20px;
  padding-right: 20px;
  font-weight: lighter;
  font-size: large;
}
.details h6{
  color: blue;
  font-weight: lighter;
  font-size: large;
}

.right h3 {
  color: black;
  font-weight: lighter;
  font-size: larger;
  margin-left: 50%;
}

.about-us {
  background-color: orange;
  height: 400px;
  padding-top: 200px;
}

.navs  {
   background-color: lightslategray;
   display: flex;
   justify-content: space-around;
}

.resource-details {
  display: flex;
  justify-content: space-around;
  border-bottom-style: groove;
  border-bottom-color: black;
  border-bottom-width: 1px;

}
.resource-details img {
  height: 100px;
  width: 100px;
  border-right-style: groove;
  border-right-color: black;
  border-right-width: 1px;
  padding-right: 30px;

}
.resource-details h3 {
  height: 100px;
  width: 600px;
  padding-right: 30px;
  font-weight: lighter;
  border-right-style: groove;
  border-right-color: black;
  border-right-width: 1px;

}

.resources h1 {
  border-bottom-style: groove;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

.registration input {
  width: 70%;
  padding: 0 20px;
  border: 1px solid gray;
  height: 40px;
  margin-bottom: 15px;
}

.registration textarea {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid orange;
  height: 100px;
  margin-bottom: 15px;
}

.registration button {
  border: 0;
  padding: 15px 20px;
  width: 100px;
  font-size: 16px;
  color: white;
  background-color: gray;
}

.registration h5 {
  font-weight: 400;
}